---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style> @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap'); </style>
		<title>Aaron Sanchez</title>
	</head>
	<body>
		<main class="hero">
			<section class="heading">
				<img class="name" src="/assets/images/NAME.svg" alt="name">
				<div class="animation-div">
				<ul class="title flip">
					<li>Burrito enthusiast.</li>
					<li>Audio Engineer.</li>
					<li>Full Stack Software Engineer.</li>
					</ul>
				</div>
			</section>
			<!-- <section class="about">
				<p >As a software engineer with a passion for audio, I bring a unique blend of technical expertise and creative problem-solving to every project. My background in the audio industry has given me a deep understanding of the importance of sound quality and the nuances of audio production. Whether I am working on building new software tools or optimizing existing systems, I am dedicated to delivering innovative solutions that enhance the user experience and exceed expectations.</p>
			</section> -->
		</main>
	</body>
</html>
